@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

/* Remove supporting dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-image: 
  radial-gradient(circle at 10% 10%, rgba(55, 66, 250, 0.25), transparent 30%),
  radial-gradient(circle at 100% 0%, rgba(30,144, 255, 0.25), transparent 15%),
  radial-gradient(circle at 120% 80%, rgba(43, 203, 186, 0.35), transparent 50%),
  radial-gradient(circle at 10% 120%, rgba(29, 209, 161, 0.25), transparent 30%);
  background-color: #ffffff; /* Background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
